{{ $postUnique := getUnique 6 }}
<a name="post-{{ .Post.Memo.GetTransactionHashString }}"></a>
<div class="post rounded box-shadow" id="post-{{ $postUnique }}"
     data-tx-hash="{{ .Post.Memo.GetTransactionHashString }}">
    <div class="post-header ">
        <div class="name">
        {{ $isFeedItem := (or .FeedItem.IsLike .FeedItem.IsPollVote) }}
        {{ template "post/snippets/name.html" dict "Address" .Post.Memo.GetAddressString "ProfilePic" .Post.ProfilePic "IsFeedItem" $isFeedItem "Name" .Post.Name }}
            {{ T "posted" }}
            &middot; <a title="{{ .Post.GetTimeString .TimeZone }}"
                        href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.GetTimeAgo }}</a>
        </div>
    {{ if .FeedItem }}
        {{ template "posts/snippets/block-explorer.html" .FeedItem.FeedEvent.GetTransactionHashString }}
    {{ else }}
        {{ template "posts/snippets/block-explorer.html" .Post.Memo.GetTransactionHashString }}
    {{ end }}
    </div>
    <div class="message{{ if or .FeedItem.IsLike .FeedItem.IsPollVote }} message-feed-item{{ end }}">
        {{ .Post.GetMessage }}
    </div>
{{ if not .Compress }}
    <div class="actions">
    {{ if and .Post.IsLoggedIn .Post.Reply }}
        <a id="pm-link-{{ $postUnique }}" class="btn btn-sm btn-default"
           href="memo/private-message/{{ .Post.Memo.GetAddressString }}">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{ T "reply_verb" | Title }}
        </a>
    {{ end }}
    </div>
{{ end }}
</div>

<script type="text/javascript">
    (function () {
        var foreground = {{ if eq .UserSettings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[180, 180, 180, 255]{{ end }};
        var background = [0, 0, 0, 0];
        var data = new Identicon('{{ .Post.Memo.GetAddressString }}', {
            foreground: foreground,
            background: background,
            size: 24,
            form: 'svg',
            margin: 0
        }).toString();
        $(".identicon-{{ .Post.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    {{ if .Post.IsLoggedIn }}
        MemoApp.Form.ReplyLink("{{ $postUnique }}");
    {{ end }}
    })();
    $(function () {
        MemoApp.MiniProfile($("#post-{{ $postUnique }}"));
    });
</script>
